.table_content .inner_content {
    background-color: #f4f4f4;
    padding: 10px 20px;
    overflow-x: auto;
}
.table_content .inner_row {
    display: flex;
    align-items: start;
    padding: 8px;
}
.table_content .inner_row .label {
    width: 84px;
    flex: none;
    text-align: right;
    font-weight: bold;
    padding-right: 12px;
    color: #606266;
}