.upsert .row {
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
}

.upsert .row .label {
    width: 84px;
    flex: none;
    text-align: right;
    font-weight: bold;
    padding-right: 12px;
    color: #606266;
}

.upsert .row .value:not(.sort) {
    flex: 1;
    margin-right: 20px;
}